.service-box-bg-filter{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color:rgba(26,116,158,.7);
}
.service-box{
  position:relative;
  padding:30px 30px 35px;
  background-size:cover;
  p, h2, a{
    z-index:1;
    position:relative;
  }
  p {min-height:134px;}

}

.mid-page-cta{
  a{
    font-size:30px;
    align-items: center;
    display: inline-flex;
  }

  .phone-icon {
    margin-right: 8px;
  }
}




#service-area{
  @media(max-width:768px){
    .col-md-3 {
      margin-bottom:23px;
    }
  }

  h2 {
    margin-bottom:40px;
    margin-top:0px;
  }

  &.bg-img {
    background-size:cover;
    position:relative;
  }
  
  .bg-filter {
    position: absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.6);
  }
  p:last-child {
    margin-bottom:0px;
  }
  a:last-child {
    margin-bottom:0px;
  }
}

.two-column-cta {
  background-color:$two-column-cta-bg;

  .phone-icon {
    width:30px;
    margin-right:8px;
  }

  a{
    font-size:30px;
    align-items: center;
    display: inline-flex;
  }

}

.company-logos-section {

  .company-logo-title {
    margin-bottom:33px;
  }
}


// COUPON SECTION
.coupons-section {

padding-bottom:50px;

  .col-md-6 {
    margin-bottom:30px;
  }

  .coupon {
    color: $blue;
    border: 5px dashed #007CC0;
    padding: 25px 1px 40px;
    height: 100%;
    position: relative;
    
    .coupon-text{
      min-height:64px;
      // padding:0px 20px;
      padding: 0px 10px 10px; 

      .title{
        font-weight:bold;
        font-size:32px;
        line-height: 1;
      }
      .subtitle{
        font-size:32px;
        line-height:1;
      }
    }

    .coupon-discount{
      padding: 0px 14px;
      
      .percent-sign {
        font-size:48px;
        line-height:1;
        font-weight:700;
        margin-top: 15px;
        // position:absolute;
        // top:0;
        // right:-30px;
      }

      .percent-text {
        font-size:26px;
        line-height:1.1;
        text-align:left;
        margin-top:15px;
        margin-left: 6px;
      }

      .dollar-sign{
        font-weight: 700;
        font-size: 48px;
        line-height: 1;

      }
  
      .number{
        font-weight:bold;
        font-size:120px;
        font-size: 120px;
        line-height: 1;
        margin-bottom: 0px;
        position:relative;
      }
  
      .text{
        font-size:26px;
        line-height:1.1;
        text-align:left;
        align-items: flex-end;
        display: flex;
        margin-bottom: 17px;
      }
    }

    .coupon-cta{
      background-color:$blue;
      color: $white;
      padding: 6px 26px;
      position: absolute;
      bottom: 1px;
      left: 1px;
      right: 1px;

      .coupon-cta-text{
        font-size:15px;
        margin-bottom:0px;
        line-height:1;
      }
  
      img{
        height:21px;
        width:auto;
      }
    }
  }

  

}