.service-box-bg-filter{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color:rgba(26,116,158,.7);
}
.service-box{
  position:relative;
  padding:30px 30px 35px;
  background-size:cover;
  p, h2, a{
    z-index:1;
    position:relative;
  }
  p {min-height:134px;}

}

.mid-page-cta{
  a{
    font-size:30px;
    align-items: center;
    display: inline-flex;
  }

  .phone-icon {
    margin-right: 8px;
  }
}




#service-area{

  h2 {
    margin-bottom:40px;
    margin-top:0px;
  }

  &.bg-img {
    background-size:cover;
    position:relative;
  }
  
  .bg-filter {
    position: absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.6);
  }
  p:last-child {
    margin-bottom:0px;
  }
  a:last-child {
    margin-bottom:0px;
  }
}

.two-column-cta {
  background-color:$two-column-cta-bg;

  .phone-icon {
    width:30px;
    margin-right:8px;
  }

  a{
    font-size:30px;
    align-items: center;
    display: inline-flex;
  }

}