






//instafeed grid
#instafeed {
  width: 100%;
  padding: 50px 0px;
  display: flex;

  article {
    display: inline-block;
    vertical-align: top;
    flex-grow: 1;
    margin-right: 25px;

    &:last-of-type {
      margin-right: 0px;
    }

    figure {
      position: relative;
      width: 100%;
      padding-top: 100%;
      overflow: hidden;
      margin: 0px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
//instafeed mobile 
@media(max-width: 768px) {
  #instafeed {
    display: block;
    padding: 50px 0px;

    article {
    display: initial;
    }
  }
}

