#top-bar {
  background-color:$dark-blue;


  .topbar-tagline{
    font-family: 'Kalam', cursive;
  }
  .phone-icon {
    margin-left: 10px;
    margin-right: 2px;
    width: 20px;
  }
  @media(min-width:768px){
  p,a{
    font-size:16px;
  }
  }
  @media(min-width:992px){
    p,a {
      font-size:20px;
    }
  }
}

