#top-bar {
  background-color:$dark-blue;
  p {
    font-size:20px;
  }
  a{
    font-size:20px;
  }
  .topbar-tagline{
    font-family: 'Kalam', cursive;
  }
  .phone-icon {
    width: 20px;
    margin-left: 10px;
    margin-right: 2px;
  }
}

