//twitter feed
#ctf {
  overflow-y: hidden;
}

#ctf .ctf-header {
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom: 0px;
  padding: 0px;
}
.ctf-tweets {
  display: flex;
  float: left;
  flex-wrap: wrap;
  height: auto;
  padding: 50px;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}
#ctf .ctf-item {
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color:#fff;
  border-radius: 7.5px;
  width: 49%;
  padding: 25px;
  margin-bottom: 25px;
  
  &:first-child {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
  }
}
#ctf #ctf-more {
  float: left;
  width: 125px;
  margin: 0 auto;
  overflow: hidden;
  float: none;
}
@media(max-width: 768px) {
  #ctf .ctf-item {
    width: 100%;
  }
}